body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.stopwatch-container{
    text-align: center;
    background: #222;
    padding: 30px;
    border-radius:12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

#display{
    font-size: 4rem;
   margin-bottom: 20px;
    letter-spacing: 2px;
}

#display span.ms{
    font-size: 2em;
    opacity: 0.8;
}

.buttons button{
    margin: 5px;
    padding: 10px 20px;
    font-size:1.2 rem;
    border: none;
    border-radius:5px;
    cursor: pointer;
    background: #444;
    color:#fff;
    transition: 0.2s;
}

.buttons button:hover{
    background: #666
}

#laps{
    margin-top:20px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}